/todo.txt
/classes/
/data/

/.idea
*.iml
/hs_err_*.log
/data.bkp/
/out/*

*.xml~

# For MAC OSX
.DS_Store

# python
venv/*

dist
dist/loklak.jar
/build/
/.gradle/
.vscode/
/docs/_build

data/settings/groups.json
release/*

deploy_rsa.pub
deploy_rsa
