language: java
jdk:
- oraclejdk8
env:
  global:
  - secure: DbveaxDMtEP+/Er6ktKCP+P42uDU8xXWRBlVGaqVNU3muaRmmZtj8ngAARxfzY0f9amlJlCavqkEIAumQl9BYKPWIra28ylsLNbzAoCIi8alf9WLgddKwVWsTcZo9+UYocuY6UivJVkofycfFJ1blw/83dWMG0/TiW6s/SrwoDw=
script:
# The gh-pages updating script
- 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bash ./scripts/gh-pagesUpdater.sh; fi'
- "./gradle_init.sh"
- gradle assemble
- "./gradle_clean.sh"
- ant
before_script:
- pip install --user codecov
install: true
after_success:
- bash <(curl -s https://codecov.io/bash)
- codecov
deploy:
  provider: heroku
  buildpack: https://github.com/loklak/heroku_buildpack_ant_loklak.git
  api_key:
    secure: "Secret key: travis encrypt $(heroku auth:token) --add deploy.api_key"
  app: susi-server
  on:
    branch: development
