body {
	background: #000;
}
p {
	font-size: 35px;
	color: #fff;
}

.hidden{
	display: none;
}

label.error{
	color: red !important;
}
div.error{
	color: red !important;
}

#forms {
	width:540px;
	height: auto;
	margin: auto;
}

.fields {
	width: auto;
	height: auto;
}

.fields input {
	border: none;
	background: #fff;
  	font-weight:400;
	color: #000;
	font-size: 15px;
	outline: none;
	width: 70%;
	margin: auto;
	padding: 24px 12px 24px 12px;
}

.fields label {
	font-size: 15px;
	float: right;
	margin-top: 5%;
}

.fields input[id = "email"] {
	border-radius: 7px 7px 0 0;
}
.fields input[id = "pass"] {
	border-radius: 0 0 7px 7px;
}

.bar {
	width: 70%;
	height: 1px;
	background: #fff;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px;
	display: block;
	background: #d1d1d1;
}

input[type = "submit"] {
	width: 70%;
	border-radius: 7px;
	background: GreenYellow;
	text-decoration: center;
	border: none;
	color: #51771a;
	padding-top: 14px;
	padding-bottom: 14px;
	outline: none;
	font-size: 13px;	
	border-bottom: 3px solid #307d63;
	cursor: pointer;
}

.options {
	width:70%;
    margin:0 auto;
    height: auto;
    display:inline-block;
}

#rememberme{
	display: inline-block;
	float: left;
	color: #fff;
}

#remember{
	display: inline-block;
	margin-left: 10px;
	width: 20px;
}

#signupopt{
	float: right;
	font-size: 15px;
	display: inline-block;
}

.form p:hover{
	color:GreenYellow;
	transition: color 0.8s;
}
