table {
    border-collapse: collapse;
    width: 70%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.left {
    position: absolute;
    top: 150px;
    left: 100px;
    width: 300px;
    height: 100px;
}

.right {
    position: absolute;
    top: 150px;
    right: 100px;
}
