/* Move down content because we have a fixed navbar that is 50px tall */
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src:
  local('Droid Sans Mono'),
  local('DroidSansMono'),
  url('../fonts/DroidSansMono.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DroidSansMono.woff') format('woff'),
  url('../fonts/DroidSansMono.ttf')  format('truetype'),
  url('../fonts/DroidSansMono.svg#svgFontName') format('svg');
}

* {
  font-family: 'Droid Sans Mono';
}


body {
  padding-top: 50px;
  font: DroidSansMono;
}
