<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" href="../../artwork/favicon.png">
    <title>Ducphanduy's Tweet Search Page</title>
</head>
<script src="../../js/angular.min.js"></script>
<script src="../../js/jquery.min.js"></script>

<body>
    <center>

        <h1>Tweet Search Page using Angular.js</h1>


        <div ng-app="TweetSearch" ng-controller="Controller">

            <input type="text" id="query" ng-model="query" placeholder="Search tweet from Loklak">
            <a href='#' id="button" ng-click="Search()">Search</a>

            <br>

            <table>
                <tr ng-repeat="x in myData">
                    <td ng-bind-html="x.text"></td>
                    <td><a href="{{x.link}}" target="_blank">Link</a></td>
                </tr>
            </table>

        </div>


    </center>

    <script>
        var app = angular.module('TweetSearch', []);
        app.controller('Controller', ['$scope', '$http', '$sce', function($scope, $http, $sce) {

            $scope.Search = function() {

                var QueryCommand = '/api/search.json?q=' + $scope.query;

                $http.get(String(QueryCommand)).then(function(response) {
                    $scope.myData = response.data.statuses;
                    for (var i = 0; i < $scope.myData.length; ++i) {
                        $scope.myData[i].text = $sce.trustAsHtml($scope.myData[i].text);
                    }
                });
            }

        }]);
    </script>
</body>

</html>