body {
	background-color: lightblue;
}

#button {
	text-decoration: none;
	border: solid 1px black;
	padding: 8px;
	color: white;
	border-radius: 3px;
}

#query {
	width: 30em;
	height: 30px;
	font-size: 18px;
	border-radius: 5px;
}

#button:hover {
	color: lightblue;
	background-color: white;
}

table {
  	color: black;
  	font-size: 20px;
  	margin-top: 20px;
}

td {
  	border: 1px solid white;
  	padding: 3px;
  	border-radius: 2px; 	
}

tr {
	width: 40px;
}

td a {
	text-decoration: none;
}

tr:hover {
  	background-color: #6666ff;
}