body {
	background: #000;
}

h1 {
	font-size: 35px;
	color: #fff;
	text-align: center;
}

.hidden{
	display: none;
}

#permissions, #notLoggedIn {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: left;
}

.section {
    width: 42%;
    min-width: 300px;
    float: left;
    padding: 4%;
    margin: 4%;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}

.section h3 {
    margin: 40px;
    text-align: center;
}

.service{
    background: GreenYellow;
    color: black;
    border-width: 3px;
    border-radius: 3px;
    padding: 3px;
}

.service span  {
    background: GreenYellow;
    color: black;
    width: 100%;
    display: block;
    cursor: pointer;
}

.serviceContent ul {
    list-style-type: none;
    padding-left:0;
}

#notLoggedIn {
    text-align: center;
}