/* Move down content because we have a fixed navbar that is 50px tall */
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('../fonts/DroidSansMono.ttf') format('truetype');
}

* {
  font-family: 'Droid Sans Mono';
}


body {
  padding-top: 50px;
  font: DroidSansMono;
}
