<!DOCTYPE html>
<html lang="en" ng-app="loklak">
<head>
	<meta charset="UTF-8">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="../../js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="../../js/loklak.js"></script>
    <link rel="icon" type="image/png" href="../../artwork/favicon.png">
	<title>Oops Not Found | Loklak</title>
</head>
<body data-spy="scroll" data-target="#navSidebar" data-offset="50">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://loklak.org"><img src="/images/loklak_org.png" height="24" style="float:left;">: Error 404</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse" ng-controller="topmenu">
				<ul class="nav navbar-nav navbar-right" ng-repeat="item in results | reverse">
					<li ng-repeat="(key, val) in item" ng-class="{active: $route.current.activetab == key}"><a ng-href="/{{val}}">{{key}}</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container" style="margin-top:10%;">
		<div class="row">
			<div class="span12">
				<div class="hero-unit center">
					<center>
					<!-- <a href="https://openclipart.org/detail/171518/grass-eating-cow"> -->
						<img src="https://openclipart.org/download/171518/krowaN.svg" width="30%"/>
					<!-- </a> -->
						<h1>Oops ! Page Not Found <small><font face="Tahoma" color="red">Error 404</font></small></h1>
						<br />
						<p>Oops, It looks like I grazed off too far ... Could you take me back or maybe look for something ?</p>
						<a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
					</center>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
