body, html {
  background-color: gray !important;
}

.layout-margin>*{
  margin:0;
}


md-tabs .md-tab.md-active{
  color: black;
}
md-content.md-default-theme, md-content {
    color: rgba(0,0,0,0.87);
    background-color: rgb(66, 66, 66);
}

img.md-user-avatar{
  border-radius: 25%;
}

md-input-container{
  margin-top: 3%;
}

#content-scroller{
  overflow: visible;
}

md-toolbar button.md-button.md-icon-button:first-child {
  margin-left: 0px;
  margin-right: 16px;
}

md-icon{
  height: 20px !important;
  margin: 0 !important;
}
md-icon svg {
    pointer-events: none;
    display: block;
    color: rgba(0,0,0,0.26);
}

.card-title {
  font-size: 20px !important;
  letter-spacing: 0.005em;
  display: block;  
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}

.card-subhead {
  font-size: 14px;
  letter-spacing: 0.010em;
  line-height: 24px;
  color: gray;
  margin-left: 20px;
}

.card .inside .description.favs {
    color: rgba(85, 85, 85, 0.5);
    margin-top: 20px;
}
  
md-toolbar button.md-button.md-icon-button:first-child md-icon {
  color: white;
}


.fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#summary {
  margin: 32px 72px;
}
.card {
  background: rgb(224,224,224);
  min-width: 100px;
  min-height: 100px;
  max-width: 400px;
  margin: 8px;
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0;
  -webkit-transform: scale(0.75) translate3d(0, 200px, 0);
  transform: scale(0.75) translate3d(0, 200px, 0);
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card.angular-grid-item {
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  transform: scale(1) translate3d(0, 0, 0);
}

.card .img {
  width: 100%;
  height: 0;
  padding-top: 75%;
  background-size: cover;
  background-color: #ccc;
}

.card .inside {
  padding: 16px;
  word-wrap: break-word;
}

.card .inside h3 {
  margin-top: 0;
  margin-bottom: 8px;
}

.card .inside a {
  color: #E91E63;
  text-decoration: none;
}

.card .inside a:hover {
  text-decoration: underline;
}

.card .inside .description {
  font-size: 14px;
  line-height: 1.3;
  color: #555;
  margin-top: 10px;
}

.cards-wrap {
  margin: 32px 64px;
  padding-bottom: 64px;
  position: relative;
}

.loading-more-indicator {
  text-align: center;
}

.loading-more-indicator md-progress-circular {
  -webkit-transform: scale(1);
  transform: scale(1);
  display: inline-block;
}

.grid {
  border: 1px solid #cccccc;
  list-style: none;
  background: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.grid-img {
  width: 100%;
  vertical-align: middle;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}

.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}