roses are red
What is your favorite food
tea earl grey hot
May I talk to you
May I get a tea
For one euro I can buy a tea
I want to buy a tea
I always like fruit tea
Which tea is the best
I am so happy
How do I feel
I am bored
How do I feel
Shall I drink a tea
any colour
What is your favorite color
What is your favorite color
javascript hello
compute 5 to the power of 2
tweet about singapore
switch on led
switch off led
switch on light
switch off light
input value
power consumption
