<!DOCTYPE html>
<html lang="en" ng-app="loklak">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index,follow">
    <meta http-equiv="cache-control" content="public">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="loklak.org - Download and Installation">
    <meta name="Content-Language" content="en, english"/>
    <meta name="keywords" lang="en-us" content="search,search engine,twitter,messages,microblogging,elasticsearch,json,api,kibana,loklak"/>
    <meta name="author" content="@0rb1t3r">
    <link rel="icon" type="image/png" href="artwork/favicon.png">
    <title>loklak.org - Download</title>
      
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/loklak.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/loklak.js"></script>
  </head>

  <body data-spy="scroll" data-target="#navSidebar" data-offset="50">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://loklak.org"><img src="images/loklak_org.png" height="24" style="float:left;">: Download</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-controller="topmenu">
          <ul class="nav navbar-nav navbar-right" ng-repeat="item in results | reverse">
            <li ng-repeat="(key, val) in item" ng-class="{ active: isActive('{{val}}') }"><a ng-href="{{val}}">{{key}}</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <div id="navSidebar">
            <ul class="nav nav-sidebar">
              <li><a href="#download">Download, Build, Run</a></li>
              <li><a href="#importdump">Import A Message Dump</a></li>
              <li><a href="#recreateindex">Re-Build The Search Index</a></li>
              <li><a href="#kibana">Use Kibana As Search Front-End</a></li>
              <li><a href="#nginxsetup">Use Nginx As Reverse Proxy</a></li>
              <li><a href="#changeconfig">Change Config Parameters</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Download and Installation</h1>
          <p><code>loklak</code> is free software, licensed with LGPL. To install <code>loklak</code>, you need a JDK, git and ant. If you don't know what this is, then <code>loklak</code> is currently not something for you.</p>
        <p>At this time, <code>loklak</code> is not provided in compiled form, you must build it yourself. It's not difficult and done in one minute!</p>
		  
		  <br/><br/>
          <section id="download">
          <h2 class="sub-header">Download, Build, Run</h2>
          <p>The source code is hosted at <a href="https://github.com/loklak/loklak_server">https://github.com/loklak/loklak_server</a>, you can download it and run <code>loklak</code> with:</p>
          <ul class="request">
			<li>&gt; git clone https://github.com/loklak/loklak_server.git</li>
			<li>&gt; cd loklak_server</li>
			<li>&gt; ant</li>
            <li>&gt; bin/start.sh</li>
          </ul>
          <p>After all server processes are running, <code>loklak</code> tries to open a browser page itself.
            If that does not happen, just open <a href="http://localhost:9000">http://localhost:9000</a>; if
            you made the installation on a headless or remote server, then replace 'localhost' with your server name.</p>
          <p>To stop <code>loklak</code>, run: (this will block until the server has actually terminated)</p>
          <ul class="request">
            <li>&gt; bin/stop.sh</li>
          </ul>
          <p>A self-upgrading process is available which must be triggered by a shell command. Just run:</p>
          <ul class="request">
            <li>&gt; bin/upgrade.sh</li>
          </ul>
          </section>
          <br/><br/>
          
          <section id="importdump">
          <h2 class="sub-header">Import A Message Dump</h2>
          <p>To import a message dump (which you get from the <a href="dump/">dump directory</a> of every <code>loklak</code> peer), just move it to the <code>data/dump/import/</code> directory:</p>
            <ul class="request">
			<li><i>loklak</i></li>
			<li><div class="tabcol2">&nbsp;&nbsp;&nbsp;&nbsp;&lfloor;<i>data</i></div>&nbsp;</li>
            <li><div class="tabcol2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lfloor;<i>dump</i></div>&nbsp;</li>
            <li><div class="tabcol2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lfloor;<i>import</i></div>// to import a dump, throw the dump in here, it will got to...</li>
            <li><div class="tabcol2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lfloor;<i>imported</i></div>// processed dump files from the import folder are moved here</li>
            <li><div class="tabcol2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lfloor;<i>own</i></div>// dump files which this application creates, accessible at <a href="dump/">/dump/</a></li>
          </ul>
            <p>Imported dumps are not deleted, but moved to the <code>imported</code> directory. Because extracted hashtags, links and user names are not part of the dump, this is done during the import process and written to the elasticsearch index. While imports are running, you can use the <a href="api.html#status">/api/status.json</a> servlet to moniotor the import progress.</p>
          </section>
          <br/><br/>
          
          <section id="recreateindex">
          <h2 class="sub-header">Re-Build The Search Index</h2>
          <p>In case of application bugs, data structure changes or if you change your set-up for larger indexing shards, you can re-create the search index completely using the index dumps. To delete and re-create the index, do:</p>
            <ul>
                <li>stop <code>loklak</code> with <code>bin/stop.sh</code></li>
                <li>delete the index folder at data/index</li>
                <li>move your dump files from <code>data/dump/own/</code> to <code>data/dump/import</code></li>
                <li>start <code>loklak</code> again - this will re-create the index folder</li>
                <li>the import starts automatically</li>
            </ul>
          </section>  
          <br/><br/>
          
          <section id="kibana">
          <h2 class="sub-header">Use Kibana As Search Front-End</h2>
          <p>Kibana is a tool to "explore and visualize your data". It is not actually a search front-end but you can use it as such. Because Kibana is made for elasticsearch, it will instantly fit on <code>loklak</code> without any modification or configuration. Here is what you need to do:</p>
            <ul>
			<li>Download <a href="http://www.elasticsearch.org/overview/kibana/installation/">Kibana</a> from <a href="http://www.elasticsearch.org/overview/kibana/installation/">http://www.elasticsearch.org/overview/kibana/installation/</a></li>
            <li>Open a terminal, cd into the kibana directroy and run bin/kibana on linux or Mac, or bin/kibana.bat on Windows.</li>
            <li>open <a href="http://localhost:5601">http://localhost:5601</a></li>
            </ul>
            <p>Kibana is pre-configured with default values to attach to an elasticsearch index containing logstash data. We will use a differnt index name than logstash: the <code>loklak</code> index names are 'messages' and 'users'. When the Kibana Settings page is visible in your browser, do:</p>
            <ul>
            <li>On the 'Configure an index pattern' Settings-page of the kibana interface, enter "messages" (without the quotes) in the field "Index name or pattern".</li>
            <li>As soon as you typed this in, another field "Time-field name" appears, with a red border and empty. Use the selectbox-arrows on the right side of the empty field to select one entry which is there: "created_at".</li>
                <li>Push the 'Create' button.</li>
            </ul>
            <p>A page with the name "messages" appears and shows all index fields of the <code>loklak</code> messages index. If you want to search the index from Kibana, do:</p>    
            <ul>
                <li>Click on "Discover" in the upper menu bar.</li>
                <li>You may probably see a page with the headline "No results found". If your <code>loklak</code> index is not empty, this may be caused by a too tight time range; therefore the next step should solve that:</li>
                <li>Click on the time picker in the top right corner of the window and select (i.e.) "This month".</li>
                <li>A 'searching' Message appears, followed with a search result page and a histogram at the top.</li>
                <li>replace the wild-card symbol '*' in the query input line with a word which you want to search, i.e. 'fossasia'</li>
                <li>You can also select a time period using a click-drag over the histogram to narrow the search result.</li>
                <li>You can click on the field names on the left border to show a field facet. Click on the '+'-sign at the facet item to activate the facet.</li>
            </ul>
          <p>The remote search to twitter with the twitter scraper is not done using the elasticsearch 'river' method to prevent that a user-frontend like Kibana constantly triggers a remote search. Therefore this search method with kibana will not help to enrich your search index with remote search results. This also means that you won't see any results in Kibana until you searched with the <a href="api.html#search">/api/search.json</a> api.</p>
          </section>  
          <br/><br/>
          
          <section id="nginxsetup">
          <h2 class="sub-header">Use Nginx As Reverse Proxy</h2>
          <p>If you run <code>loklak</code> behind a nginx reverse proxy, it is important to forward the client IP address through the proxy. If you don't do that, <code>loklak</code> thinks that all requests come from localhost and are therefore all authorized to do anything with maximum access rights. To configure Nginx to forward the client IP address, add the following line to the server section of your config file:</p>
            <pre>proxy_set_header X-Real-IP $remote_addr;</pre>
           <p>The full server section may then look similar to:</p>
            
            <pre>server {
  listen 80;
  server_name myserver.mytld;
  location / {
    proxy_pass 127.0.0.1:9000;
    include /etc/nginx/proxy_params;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header Host $host;
  }
}</pre>

          </section>
          <br/><br/>
          <section id="changeconfig">
          <h2 class="sub-header">Change Config Parameters</h2>
          <p>The configuration initialization of <code>loklak</code> is in <code>conf/config.properties</code> but that file may be overwritten if you update the application. To make changes to the configuration persistent, there is another file located at <code>data/settings/customized_config.properties</code> which overwrites the settings during startup time.</p>
            <h3>Change Elasticsearch Configuration Properties</h3>
            <p>These properties are included in the <code>loklak</code> properties file and prefixed with the string <code>elasticsearch.</code>. You can add more elasticsearch properties here, all keys with the prefix "elasticsearch." are send to elasticsearch.</p>
            <h3>Change the Back-End Server</h3>
          <p>In the properties, there is a line <code>backend=http://loklak.org</code>. You can change this to your own server. This name is a prefix for the api path, so adding a port to the host name is possible.</p>
          </section>
        </div>
      </div>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js" async></script>
    <script src="js/bootstrap.min.js" async></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js" async></script>
  </body>
</html>
