<!DOCTYPE html>
<html lang="en" ng-app="loklak">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Twitter Scraper">
    <meta name="author" content="Michael Peter Christen">
    <link rel="icon" type="image/png" href="artwork/favicon.png">

    <title>loklak: Distributed Tweet Search Server</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/loklak.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <script src="js/angular.min.js"></script>
    <script src="js/loklak.js"></script>
  </head>

  <body>
    <div ng-controller="search">
      <h2>Search</h2>
      <input type="text" ng-model="query">
      <button ng-click="search()">Search</button>
      <h2>Results</h2>
      <div ng-repeat='result in results'>
        {{result}}
      </div>
    </div>
    
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
