<!DOCTYPE html>
<html lang="en" ng-app="loklak">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index,follow">
    <meta http-equiv="cache-control" content="public">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="loklak.org - Tutorials">
    <meta name="Content-Language" content="en, english"/>
    <meta name="keywords" lang="en-us" content="search,search engine,twitter,messages,microblogging,elasticsearch,json,api,kibana,loklak"/>
    <meta name="author" content="@0rb1t3r">
    <link rel="icon" type="image/png" href="artwork/favicon.png">
    <title>loklak Tutorials</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/loklak.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/loklak.js"></script>
  </head>

  <body data-spy="scroll" data-target="#navSidebar" data-offset="50">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://loklak.org"><img src="images/loklak_org.png" height="24" style="float:left;">: Tutorials</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-controller="topmenu">
          <ul class="nav navbar-nav navbar-right" ng-repeat="item in results | reverse">
            <li ng-repeat="(key, val) in item" ng-class="{active: $route.current.activetab == key}"><a ng-href="{{val}}">{{key}}</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
         <div id="navSidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#loklak_linux">loklak on linux</a></li>
            <li><a href="#loklak_ubuntu">loklak on ubuntu</a></li>
            <li><a href="#loklak_arch">loklak on arch linux</a></li>
            <li><a href="#loklak_windows">loklak on windows</a></li>
            <li><a href="#loklak_google_docker">loklak with docker on google cloud</a></li>
            <li><a href="#loklak_bluemix_docker">loklak with docker on bluemix</a></li>
            <li><a href="#loklak_bluemix">loklak on bluemix</a></li>
            <li><a href="#loklak_osx">loklak on OS X</a></li>
          </ul>
          </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Tutorials for <code>loklak</code></h1>
          <p>Installation of loklak is very easy, however, here are some tutorials:</p>
		  <br/><br/>
          
		  <section id="loklak_linux">
          <h2 class="sub-header">learn how to install loklak linux</h2>
          <script type="text/javascript" src="https://asciinema.org/a/5c3c0x9n9uutt8pyoynheppov.js" id="asciicast-5c3c0x9n9uutt8pyoynheppov" async></script>
          </section>
          <br/><br/>
          
		  <section id="loklak_ubuntu">
          <h2 class="sub-header">Set up loklak on Ubuntu 15.10 64-bit</h2>
          <script type="text/javascript" src="https://asciinema.org/a/34229.js" id="asciicast-34229" async></script>
          </section>
          <br/><br/>
          
		  <section id="loklak_arch">
          <h2 class="sub-header">How to Install loklak on Arch Linux</h2>
          <script type="text/javascript" src="https://asciinema.org/a/34119.js" id="asciicast-34119" async></script>
          </section>
          <br/><br/>
          
		  <section id="loklak_windows">
          <h2 class="sub-header">How to build and run loklak server on Windows</h2>
          <iframe width="960" height="540" src="https://www.youtube.com/embed/G1OZGcCQwYM" frameborder="0" allowfullscreen></iframe>
          </section>
          <br/><br/>
          
		  <section id="loklak_google_docker">
          <h2 class="sub-header">How to install Loklak server on Google Cloud using Docker</h2>
          <iframe width="960" height="540" src="https://www.youtube.com/embed/nwX5AcynSTA" frameborder="0" allowfullscreen></iframe>
          </section>
          <br/><br/>
          
		  <section id="loklak_bluemix_docker">
          <h2 class="sub-header">Loklak setup guide on Bluemix with Docker </h2>
          <iframe width="960" height="720" src="https://www.youtube.com/embed/fOgY6eoZBQ0" frameborder="0" allowfullscreen></iframe>
          </section>
          <br/><br/>
         
		  <section id="loklak_bluemix">
          <h2 class="sub-header">How to run loklak server on IBM Bluemix cloud platform </h2>
          <iframe width="960" height="540" src="https://www.youtube.com/embed/DgRY61HrqWc" frameborder="0" allowfullscreen></iframe>
          </section>
          <br/><br/>
          
		  <section id="loklak_osx">
          <h2 class="sub-header">Install Loklak Server on OS X </h2>
          <iframe width="960" height="540" src="https://www.youtube.com/embed/yhVzVh-N120" frameborder="0" allowfullscreen></iframe>
          </section>
          <br/><br/>
          
        </div>
      </div>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js" async></script>
    <script src="js/bootstrap.min.js" async></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js" async></script>
  </body>
</html>
