<!DOCTYPE html>
<html ng-app="histogramApp">
<head>
	<title>Loklak-Morris</title>
	<link rel="stylesheet" type="text/css" href="histogram.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
	<script src="http://code.angularjs.org/angular-1.0.0rc4.min.js"></script>
    <script src="http://code.angularjs.org/angular-resource-1.0.0rc4.min.js"></script>
</head>
<body ng-controller="LoklakCtrl">
<h3>Tweet Histogram Plotter</h3>
<form>
	<label for="query" class="query">Query: </label><input ng-model="query" id="query"/><br>
	<label for="from" class="from">From: </label><input ng-model="from" id="from" type="date"/><br>
	<label for="to" class="to">To: </label><input ng-model="to" id="to" type="date" /><br>
	<a href="#" class='submit' ng-click="doSearch()">Plot</a>
</form>
<div id="bar-example" style="height: 250px;">
</div>
<script src="scripts.js"></script>
</body>
</html>