<!DOCTYPE html>
<html ng-app="histogramApp">
<head>
	<title>Loklak-Morris</title>
	<link rel="stylesheet" type="text/css" href="histogram.css">
	<link rel="stylesheet" href="/css/morris.css">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/raphael-min.js"></script>
	<script src="/js/morris.min.js"></script>
	<script src="/js/angular.min.js"></script>
    <script src="/js/angular-resource.min.js"></script>
</head>
<body ng-controller="LoklakCtrl">
<h3>Tweet Histogram Plotter</h3>
<form>
	<label for="query" class="query">Query: </label><input ng-model="query" id="query"/><br>
	<label for="from" class="from">From: </label><input ng-model="from" id="from" type="date"/><br>
	<label for="to" class="to">To: </label><input ng-model="to" id="to" type="date" /><br>
	<a href="#" class='submit' ng-click="doSearch()">Plot</a>
</form>
<div id="bar-example" style="height: 250px;">
</div>
<script src="scripts.js"></script>
</body>
</html>