<!DOCTYPE html>
<html ng-app="tweet-histogram">
<head>
	<title>Loklak-Morris</title>
	<link rel="stylesheet" type="text/css" href="histogram.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
	<script src="http://code.angularjs.org/angular-1.0.0rc4.min.js"></script>
    <script src="http://code.angularjs.org/angular-resource-1.0.0rc4.min.js"></script>
</head>
<body ng-controller="LoklakCtrl">
<h3>Tweet Histogram Plotter</h3>
<form>
	<label for="query" class="query">Query: </label><input ng-model="query" id="query"/><br>
	<label for="from" class="from">From: </label><input ng-model="from" id="from" type="date"/><br>
	<label for="to" class="to">To: </label><input ng-model="to" id="to" type="date" /><br>
	<a href="#" class='submit' ng-click="doSearch()">Plot</a>
</form>
<div id="bar-example" style="height: 250px;">
</div>
<script type="text/javascript">
	var spinner = '<svg id="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><g><animateTransform attributeName="transform" type="rotate" values="0 33 33;270 33 33" begin="0s" dur="1.4s" fill="freeze" repeatCount="indefinite"/><circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30" stroke-dasharray="187" stroke-dashoffset="610"><animate attributeName="stroke" values="#4285F4;#DE3E35;#F7C223;#1B9A59;#4285F4" begin="0s" dur="5.6s" fill="freeze" repeatCount="indefinite"/><animateTransform attributeName="transform" type="rotate" values="0 33 33;135 33 33;450 33 33" begin="0s" dur="1.4s" fill="freeze" repeatCount="indefinite"/><animate attributeName="stroke-dashoffset" values="187;46.75;187" begin="0s" dur="1.4s" fill="freeze" repeatCount="indefinite"/></circle></g></svg>';

	angular.module('tweet-histogram', ['ngResource']);
	function LoklakCtrl($scope, $resource) {
	    $scope.loklak = $resource('/api/:action',
	      {action:'search.json', q:'fossasia', callback:'JSON_CALLBACK', source:'cache', fields:'created_at'},
	      {get:{method:'JSONP'}});

	    $scope.from = "2016-01-01";
	    $scope.to = "2016-01-17";

	  	$scope.doSearch = function () {
	  		var from = $('#from');
			var to = $('#to');
	  		var date1 = new Date(from[0].value);
			var date2 = new Date(to[0].value);
			var timeDiff = Math.abs(date2.getTime() - date1.getTime());
			var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
			if (diffDays < 5){
				alert('Kindly provide a difference of more than 4 days between the two dates.')
			} else{
				if ($scope.query !== 'undefined'){
					alert("Kindly provide a query to search for!");
				} else{
			        $("#bar-example")[0].innerHTML = spinner;
			      	$scope.loklakResult = $scope.loklak.get({q:$scope.query+' since:'+$scope.from+' untill:'+$scope.to},function(){
			        		$("#bar-example")[0].innerHTML = "";
					        var data_list = [];
					      	angular.forEach($scope.loklakResult.aggregations.created_at, function(i,item){
					      		console.log(i,item);
					      		data_list.push({
					      			"y": item,
					      			"a": i
					      		})
					      	});

					      	Morris.Bar({
					      	  element: 'bar-example',
					      	  data: data_list,
					      	  xkey: 'y',
					      	  ykeys: ['a'],
					      	  labels: ['Total Tweets']
					      	});
				        }
				    );
		        }
		    }
        };
	}
</script>
</body>
</html>