@import 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'http://fonts.googleapis.com/css?family=Roboto:700,400';
/*
*  Basic Reset
*/

#search {
  margin: 0 auto;
  position: static;
  z-index: 10000;
  width: 960px;
  height: 45px;
}

#loadingmessage {
  margin-top: 10%;
  margin-left: 43%;
  position: fixed;
  z-index: 10000;
}

#loadingmessage img  {
  height: 200px;
}

#masonry {
  margin: 0 auto;
  width: 960px;
}
.item-size, .item {
   width: 32.8%;
   min-height: 130px;
}

.Emoji {
  height: 1.6rem;
  margin: 0 4px;
  vertical-align: text-top;
}

.hide {
  float: right;
}
.item {
  float: left;
}
 
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
 * Basics Styles
 */
html {
  font-size: 62.5%;
}
body {
  background-color: #eee;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.6;
  color: #666;
}

.border-tlr-radius { 
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; 
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.profile {
  height: 4rem;
  width: 4rem;
}


.card {
  background-color: #fff;
  margin-top: 8px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 1px 100px 5px rgba(0,0,0, 0.12);

  z-index: 100;
}

.card__padding {
  padding: 1.6rem;
}

.card__padding_1 {
  padding: 0.6rem;
  padding-left: 16px;
  padding-right: 16px;
}
 
.card__image {
  min-height: 100px;
  background-color: #eee;
}
  .card__image img {
    width: 100%;
    max-width: 100%;
    display: block;
  }

.card__content {
  position: relative;
  color: #888;
  border-bottom: 1px solid #ECECEC;
}

/* card meta */
.card__meta time {
  font-size: 1.4rem;
  color: #bbb;
  margin-left: 0.8rem;
  float: right;
}

.twitter_meta {
  color: #bbb;
  padding-right: 4px;
}

.fav {
  height: 10px;
  vertical-align: middle;
}

.retweet {
  height: 15px;
  vertical-align: middle;
}

.card__article {
  overflow-wrap: break-word;
}
/* card article */
.card__article a {
  text-decoration: none;
  color: #3498db;
  transition: all 0.5s ease;
}
  .card__article a:hover {
    color: #2980b9;
  }

/* card action */
.card__action {
  overflow: hidden;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}
   
.card__author {
  padding-top: 10px;
}

.card__author img,
.card__author-content {
  display: inline-block;
  vertical-align: middle;
  color: #3498db;
}

.card__author img:hover,
.card__author-content:hover, .card__content a:hover {
  color: #007AAA;
}

.card__author img{
  border-radius: 50%;
  margin-right: 0.6em;
}