.content { 
	width: 100%; 
	margin: 0px auto; 
}
.span2 { 
	width: 23%; 
	padding: 0px;
	margin-right: 16px;
	margin-bottom: 16px;
	float: left;
}
.span2 img { 
	max-width: 100%; 
	border: 1px solid #adff30
}
p { 
  margin: 0.5em 0; 
}
.reveal p { 
	margin: 0; 
}
.span2 p { 
	text-align: center; 
}
.reveal .hidden { 
	display: block !important; 
	visibility: visible !important; 
}
.product:hover .reveal img { 
	opacity: 1; 
}
.reveal { 
	position: relative; 
}
.reveal .hidden { 
  position: absolute; 
  z-index: -1;
  top: 0; 
  width: 100%; 
  height: 100%;  
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;  
}
.reveal:hover .hidden { 
  z-index: 100000;
  opacity: 1;    
}
.reveal .caption {
  position: absolute;
  top: 0;  
  display: table;
  width: 100%;
  height: 100%;
  background-color: white; 
  background-color: rgba(255, 255, 255, 0.9);
  font: 14px/1.6 Lato, sans-serif;
  font-weight: normal;
  color: #777;
  letter-spacing: 1px;
  text-align: center;
  text-rendering: optimizeLegibility;
}
.reveal .hidden .caption .centered {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 480px) and (max-width: 979px) {
  .reveal .caption { 
    font-size: 11px; 
  }
}